<!DOCTYPE html>
<html>
  <head>
    <title>Team Manager</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
    <footer>
      <a href="/about">About Hacktastic</a>
      <a href="/teams"><button type="button" name="button" class="btn btn-info">View all teams</button></a>
    </footer>
  </body>
</html>
