<!DOCTYPE html>
<html>
  <head>
    <title>Team Manager</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Hacktastic</h1>
      <h2>Team and Enrollment Manager</h2>
    </div>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
    <footer>
      <a href="/about">About Hacktastic</a>
      <a href="/teams"><button type="button" name="button" class="btn btn-info">View all teams</button></a>
    </footer>
  </body>
</html>
