<!--team-form.vtl-->
<h1>Add a team</h1>

<form action="/teams" method="post">
  <div class="form-group">
    <label for="teamName">Team name</label>
    <input id="teamName" name="teamName" type="text">
  </div>
  <div class="form-group">
    <label for="teamGoal">Team goal</label>
    <input id="teamGoal" name="teamGoal" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Team</button>
</form>
<!--team-form.vtl-->
