<h1>Success</h1>

<p>
  Your team has been created.
</p>
<div class="buttonRow">
  <a href="/teams/new"><button type="button" name="button" class="btn btn-warning">Add Another team</button></a>
</div>
