<h1>Success!</h1>

<p>
  $member.getName() has been added to the $team.getName() team.
</p>
<div class="buttonRow">

<a href="/teams/$team.getId()/members/new"><button type="button" name="button" class="btn btn-success">Add another member to this team</button></a>
<a href="/teams/$team.getId()"><button type="button" name="button" class="btn btn-warning">Return to this team</button></a>
</div>
